body {
    background: linear-gradient(70deg,rgb(75, 75, 75), rgb(165, 165, 165));
    height: 90vh;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid 1px black;
}

.vizitka{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    transition: all 3s ease-in-out;
    background-color: blue;
}

.vizitka:hover{ 
    transform: rotate(90deg);
}

.foto{
    width: 200px;
    height: 350px;
    outline: solid 1px black;
}

.info{
    width: 300px;
    height: 350px;
    outline: solid 1px black;
}

