body {
    background: #ABC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

canvas {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    margin: 10px;
}


