.earth-ring{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 30em;
    border: 2px solid white;
    animation: spin 8s reverse linear infinite;
}

@keyframes spin
    {
      100%{
        transform: rotate(360deg);
      }
    }
    

.earth{
    background-color: #0000ff;
    width: 50px;
    height: 50px;
    border-radius: 20em;
    position: absolute;
    top: -1.5em;
    box-shadow: inset -5px -2px 13px 6px rgb(0, 0, 0);
    transform: rotate(-90deg);
}