.mercury-ring{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 30em;
    border: 2px solid rgba(255, 255, 255, 0.336);
    animation: spin 6s reverse linear infinite;
}

@keyframes spin
    {
      100%{
        transform: rotate(360deg);
      }
    }    

.mercury{
    background-color: cadetblue;
    width: 30px;
    height: 30px;
    border-radius: 20em;
    position: absolute;
    top: -1em;
    box-shadow: inset -5px -2px 13px 4px rgb(0, 0, 0);
    transform: rotate(-90deg);
}