.sun{
    border-radius: 10em;
    box-shadow: 0px 0px 49px 5px #ffff00;
    background: radial-gradient(circle, #ff6600, #FFFF00);
    width: 140px;
    height: 140px;
    animation: spin 4s reverse linear infinite; 
}

@keyframes spin
    {
      100%{
        transform: rotate(360deg);
      }
    } 

