.sun{
    border-radius: 10em;
    box-shadow: inset 0px 0px 18px 39px rgba(219,192,15,1);
    box-shadow: inset 0px 0px 49px -4px rgba(0,0,0,1);
    background-color:yellow ;
    width: 200px;
    height: 200px;
    animation: spin 4s reverse linear infinite; 
}

@keyframes spin
    {
      100%{
        transform: rotate(360deg);
      }
    } 

/*.sun-ring{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 3px solid #FFFFFF;
}*/