body {
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 178, 62), rgb(167, 34, 145), rgb(22, 73, 139));
    background-size: 900%, 200%;
    height: 90vh;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    0%{
        background-position: 0%, 50%;
    }
}


p {
    background-color: rgb(44, 226, 150);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    line-height: 1.1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    
    
}

h1 {
    
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: center;
    border-radius: 0.5em 0.2em 0.5em 0.2em;
    background-image: -webkit-linear-gradient(left, rgb(19, 78, 241), rgb(9, 209, 235) );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 span {
    background-color: rgb(44, 226, 130);
    font-variant: small-caps;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    

}

.soc {
    height: 30px;
    width: 30px;
    margin: 100px 0px;
}
 


