*{
    font-family: inter
}

body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5rem 5rem;
    position: fixed;
    background-color:#fff ;
}

.header-menu{
    display: grid;
    grid-template-columns: 10rem 40rem;
}

.right-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    margin: 0;
    margin-left: 10px;
    height: 5rem;
    width: auto;
}
img{
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}

.line{
    background: #575552;
    height: 100%;
}

a{
    padding: 5px 5px;
}

.info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB010;
}

.first_page{
    background-color: #EB961E;
    width: 100%;
    height: 50rem;
}