*{
    box-sizing: border-box;
    font-family: inter
}

body{
    margin: 0;
    padding: 0;
}

h3{
    color: #fff;
}

.header{
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5rem 5rem;
    position: fixed;
    background-color:#fff ;
}

.header-menu{
    display: grid;
    grid-template-columns: 10rem 40rem;
}

.right-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    margin: 0;
    margin-left: 5rem;
    height: 5rem;
    width: auto;
}
img{
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}

.line{
    background: #575552;
    height: 100%;
}

a{
    padding: 5px 5px;
}

.info, .info_pr{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB010;
}

.info_page,.info_page_1, .info_page_2, .info_page_pr{
    background-color: #EB961E;
    width: 100%;
    height: 50rem;
}

.info_page_1, .info_pr, .info_page_pr{
    background-color: #fff;
}

.info_page_pr{
    display: contents;
    position: absolute;
    height: 35rem;
}

.pr_window{
    display: flex;
    align-items: flex-end;
    align-self:flex-end;
    background-color: #7D7D7D;
    margin: 30px 50px;
}

@media screen and (min-width: 768px) {
    .pr-cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 9%;
    }
}

@media screen and (min-width: 1200px) {
    .pr-cont.pr_window{
        width: calc(100% / 3 - 40px);
    }
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 15%;
}

footer{
    background-color: #000;
    width: 100%;
    height: 5rem;
    
}