body{
    margin: 0;
    padding: 0;
}

#header{
    background: #575552;
}

.logo{
    width: 25%;
    height: 25%;
}
img{
    width: 100%;
}

.header-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    background: #fff;
}

.menu{

}