

body{
    background: rgb(4,0,71);
    background: radial-gradient(circle, rgba(4,0,71,1) 0%, rgba(0,50,154,1) 49%, rgba(153,3,240,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
}


.karta{
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-color: rgb(57, 71, 71);
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.karta::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 210%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
    background: linear-gradient();
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* .karta::after{
    content: '';
    position: absolute;
    inset: 10px;
    background: rgb(87, 81, 81)
} */

.calistenic{
    background-color: rgb(56, 56, 56);
    margin: 10px 0px 10px 10px;
    height: 500px;
    width: 300px;
    border-right: 2px dashed color-mix(in srgb, rgb(209, 209, 209) 0%, rgb(37, 37, 37) 100%);
    z-index: 1;
    
}



.ritirske_souboje{
    background-color: rgb(56, 56, 56);
    margin: 10px 0px 10px 0px;
    height: 500px;
    width: 300px;
    z-index: 1;
}

.svetelna_show{
    background-color: rgb(56, 56, 56);
    margin: 10px 10px 10px 0px;
    height: 500px;
    width: 300px;
    z-index: 1;
}

cl/*calistenic image*/
    /* position: relative;
    left: 3px;
    margin: 10px 20px 0px 20px;  
    width: 85%;
    height: 35%;
    border-radius: 0.5em; */


/*List cascady*/
.list{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
}

.mid{
    border-top: none;
}

.list div{
    position: relative;
    width: 100%;
    height: 100%;
}

.list ul{
    margin: 35px 0px 30px 0px;
    list-style: none;
    padding: 0;
}

.first li{
    text-align: center;
}

.second li{
    border-image: linear-gradient(to right, rgb(209, 209, 209) 0%, rgb(37, 37, 37) 100%);
    border-image-slice: 1;
    padding: 0%;
    
}

.list li{
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 0%;
    padding-left: 0%;
}
/*List cascady*/


.rs{/*ritirske_souboje image*/
    position: relative;
    left: 3px;
    margin: 10px 20px 0px 20px;  
    width: 85%;
    height: 35%;
    border-radius: 0.5em;
}
