body {
    background: linear-gradient(45deg, rgb(28, 52, 158), rgb(19, 113, 150), rgb(23, 164, 207), rgb(18, 202, 193));
    background-size: 900%, 200%;
    height: 90vh;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    0%{
        background-position: 0%, 50%;
    }
}


.info {
    background-color: rgb(44, 226, 150);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    line-height: 1.1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    
    
}

.igs {
    padding: 5px;
    margin: 1px 1px;
    width: 15em;
    position: relative;
    bottom: 120px;
    left: 200px;
    font-variant: small-caps;
    background-image: -webkit-linear-gradient(left, rgb(19, 78, 241), rgb(9, 209, 235) );
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: center;
}

.igs_link {
    text-decoration: none;
}

h1 {
    
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: center;
    border-radius: 0.5em 0.2em 0.5em 0.2em;
    background-image: -webkit-linear-gradient(left, rgb(19, 78, 241), rgb(9, 209, 235) );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 span {
    background-color: rgb(44, 226, 130);
    font-variant: small-caps;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    

}

.soc {
    height: 30px;
    width: 30px;
    margin: 50px 20px;
    position:absolute;
    top: 0;
    right: 0;

}

ol {
    list-style-type: disc;
}

li span {
    background-color: rgb(44, 226, 130);
    font-size: large;
    font-variant: small-caps;
    border-radius: 0.5em 0.5em 0.5em 0.5em;

}

.ignis {
    position: relative;
    width: 200px;
    height: 200px;
}

 
/* #square {
    width: 700px;
    height: 80px;
    background-color: black;
    position: relative;
    top: 600px;
    display: flex;

} */

/* footer {
    background-color: #63725f;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
   
} */


