.container{
    display: grid;
    width: 80%;
    height: 100vh;
    justify-self: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: bisque;
}

.header{
    outline: solid 2px black;
    background-image: url(../img/Frame\ 1\ \(1\).png);
    grid-column: 1/6;
    background-repeat: no-repeat;
    background-size: contain;
    
}

