body {
    background-image: -webkit-linear-gradient(left, rgb(9, 209, 235), rgb(19, 78, 241));
    
}


p {
    background-color: rgb(44, 226, 150);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    line-height: 1.1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    
    
}

h1 {
    
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: center;
    border-radius: 0.5em 0.2em 0.5em 0.2em;
    background-image: -webkit-linear-gradient(left, rgb(19, 78, 241), rgb(9, 209, 235) );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 span {
    background-color: rgb(44, 226, 130);
    font-variant: small-caps;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    

}

.soc {
    height: 30px;
    width: 30px;
    margin: 100px 0px;
}
 
.ing span {
    
}

